* {
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: #ff0000;
    }

    #small {
        font-size: 10px;
        display: block;
        width: 100%;
    }

    #medium {
        /* display: none; */
        display: block;
        width: 100%;
    }

    #large {
        /* display: none; */
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    body {
        background-color: #008000;
    }

    #small {
        /* display: none; */
        display: inline;
        width: 66%;
        float: left;
    }

    #medium {
        font-size: 15px;
        display: inline;
        width: 33%;
        float: left;
    }

    #large {
        /* display: none; */
        display: inline;
        width: 100%;
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #0000ff;
    }

    #small {
        /* display: none; */
        display: inline-block;
        width: 33%;
        float: left;
    }

    #medium {
        /* display: none; */
        display: inline-block;
        width: 33%;
        float: left;
    }

    #large {
        font-size: 20px;
        display: inline-block;
        width: 33%;
        float: left;
    }

}
